/*
1200px
992px
768px
600px
 */

@media screen and (max-width:1200px) {
    .img1 {
        height: 200px;
        padding-right: 10px;
        cursor: pointer;
    }

    .img2 {
        height: 200px;
        /* padding: 30px 10px; */
        cursor: pointer;
        padding-right: 10px;
    }

    .img2:hover {
        height: 370px;
    }

    .img1:hover {
        height: 370px;
    }

    .p1 h1 {
        font-size: 25px;
        line-height: 35px;
        font-family: Circular M;
        font-weight: 400;
        color: #a9f1df;
        text-align: center;
        /* display: block; */
    }

    .p1 h2 {
        color: aliceblue;
        font-size: 25px;
        line-height: 30px;
        font-family: Circular R;
        font-weight: 400;
        /* display: block; */
        width: 400px;
        text-align: center;
    }
}

@media screen and (max-width:992px) {
    .menu {
        width: 100%;
        height: 70px;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        background-color: rgba(52, 55, 157, 1);
        box-shadow: 0 1px 4px 0 aliceblue;

    }

    .menuItens {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 25px;
    }

    .menuItens li a {
        font-size: 22px;
        line-height: 20px;
        color: #ffffff;
        font-family: Supply;
        font-weight: 400;
        display: inline-block;
        position: relative;
        letter-spacing: -1px;
    }

    .txt {
        width: 100%;
        color: aliceblue;
        font-size: 21px;
        font-family: Circular R;
        padding: 50px 0;
    }

    .foto {
        height: 185px;
        width: 185px;
        overflow: hidden;
        border-radius: 200px;
        position: relative;
        margin-top: 11px;

    }

    .habilidades {

        font-family: Supply;
        font-weight: 400;
        font-size: 55px;
        text-align: center;
        color: #a9f1df;
        text-shadow: 4px 4px #333;
        /* margin-bottom: 50px; */
        /* margin-top: 5em; */
        margin: 5em 0 1em 0;
    }

    .skill-bars {
        font-family: 'Poppins', sans-serif;
        height: 100%;
        display: grid;
        /* place-items: center; */
        margin: 0 auto;
        padding: 25px 30px;
        width: 900px;
        background: #fff;
        /* box-shadow: 5px 5px 20px black; */
        border-radius: 10px;
        box-shadow: 4px 4px blanchedalmond;
    }

    .img2:hover {
        height: 350px;

    }

    .img1:hover {
        height: 350px;
    }

    .p1 h1 {
        font-size: 25px;
        line-height: 35px;
        font-family: Circular M;
        font-weight: 400;
        color: #a9f1df;
        text-align: center;
        /* display: block; */
    }

    .p1 h2 {
        color: aliceblue;
        font-size: 24px;
        line-height: 30px;
        font-family: Circular R;
        font-weight: 400;
        /* display: block; */
        width: 400px;
        text-align: center;
    }
}

@media screen and (max-width:768px) {

    html,
    body {
        overflow-x: hidden !important;
    }

    .menuItens li a {
        font-size: 22px;
        line-height: 20px;
        color: #ffffff;
        font-family: Supply;
        font-weight: 400;
        display: inline-block;
        position: relative;
        letter-spacing: -1px;
    }

    .static-txt {
        color: #fff;
        font-size: 80px;
        font-weight: 400;
    }

    .dynamic-txts li {
        list-style: none;
        color: #a9f1df;
        font-size: 71px;
        font-weight: 500;
        position: relative;
        top: -0;
        animation: slide 14s steps(4) infinite;
    }

    .foto {
        height: 170px;
        width: 170px;
        overflow: hidden;
        border-radius: 200px;
        position: relative;
        margin-top: 11px;
    }

    .txt {
        width: 85%;
        color: aliceblue;
        font-size: 19.8px;
        font-family: Circular R;
        /* padding: 50px 0; */
        margin: 0 auto;
    }

    .habilidades {
        font-family: Supply;
        font-weight: 400;
        font-size: 45px;
        text-align: center;
        color: #a9f1df;
        text-shadow: 4px 4px #333;
        /* margin-bottom: 50px; */
        margin-top: 5em;
    }

    .skill-bars {
        font-family: 'Poppins', sans-serif;
        height: 100%;
        display: grid;
        /* place-items: center; */
        margin: 0 auto;
        padding: 25px 30px;
        width: 700px;
        background: #fff;
        /* box-shadow: 5px 5px 20px black; */
        border-radius: 10px;
        box-shadow: 4px 4px blanchedalmond;
    }

    .pro {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin-top: 9em; */
    }

    .pro2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6em;
    }

    .p1 h1,
    h2 {
        padding-left: 0;
    }

    .p2 h1,
    h2 {
        padding-left: 0;
    }

    .p1 h1 {
        margin-top: 20px;
        font-size: 25px;
    }

    .p1 h2 {
        width: 350px;
        font-size: 25px;
    }

    .p1 a {
        font-size: 20px;
        color: purple;
        font-family: Circular R;
        padding: 0 0 0 90px;
    }

    .p2 h1 {
        margin-top: 20px;
        font-size: 25px;
    }

    .p2 h2 {
        width: 350px;
        font-size: 25px;
    }

    .footerC {
        /* max-width: 500px; */
        width: 100%;
        text-align: center;
        /* margin: 15em 0 3em 0; */
        margin-top: 22em;
        margin-bottom: 30px;
    }

    .footerI ul li {
        display: inline;
        font-family: TypeIcons;
        font-size: 35px;
        padding: 10px 10px;
    }

    .instaIcon {
        height: 50px;
        align-items: center;
    }

    .gitIcon {
        height: 50px;
    }

    .linkdin {
        height: 50px;
    }
}

@media screen and (max-width:600px) {
/* 
    html,
    body {
        overflow-x: hidden;
    } */
    .menu{
        box-shadow: none;
       height: 0;
    }

    .menu button {
        height: 20px;
        display: block;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu button img {
        height: 50px;
    }
    
    /* .menu button:focus~.menuItens {
        height: 210px;
        width: 200px;
        background-color: aliceblue;
        transition: .5s;
        display: block;
    }
    .menuItens {
        z-index: 1;
        width: 200px;
        top: 0;
        height: 0;
        display: block;
        transition: .5s;
        border-radius: 0 0 5px 0;   
    }
    
    .menuItens li{
        height: 45px;
        line-height: 45px;
    }
    .menuItens li a{
        color: rgba(52, 55, 157, 1);
        font-size: 18px;
        line-height: 22px;
        height: 18px;
        text-transform: capitalize;
    }
     */
    .menu{
       margin: 0 ;
    }
    .menuItens li a{
        font-size: 20px;
        color: rgba(52, 55, 157, 1);
        font-weight: 400;
    }

    .menuItens li a:hover{
        font-weight: bold;
    }
    .menuItens li{
        padding: 15px 0;
    }
    .menuItens{
        padding: 0;
        margin: 0 20px;
        transition: 0.3s ease;
        display: none;
        margin-top: 60px;
    }
    .menu-bg, #menu-bar{
        top: 0;
        left: 0;
        position:absolute;
    }
    .menu-bg{
        z-index: 1;
        width: 0;
        height: 0;
        margin: 50px 0 20px 20px;
        background: radial-gradient(circle,#a9f1df,#a2d1be);
        border-radius: 50%;
        transition: 0.3s ease;
    }
    #menu-bar{
        z-index: 2;
    }
    .change-bg{
        width: 450px;
        height: 400px;
        transform: translate(-60%, -30%);
    }
    .change .bar{
        background: aliceblue;
    }
    .change{
        display: block;
        
    }

    .hambur{
        /* transform: rotatez(90deg); */
    }
    .hambur:hover{
        /* transform: rotatez(-90deg);
        transition: .5s; */
    }
    /* .hambur:hover::after{
        transform: rotatez(45deg);
        transition: .5s;
    } */
   
    
    
    .foto {
        height: 160px;
        width: 160px;
    }

    .txt {
        font-size: 19px;
    }

    .habilidades {
        font-size: 40px;
    }

    .skill-bars {
        width: 549px;
    }

    .p1 h2 {
        font-size: 22px;
        width: 300px;
    }

    .p2 h2 {
        font-size: 22px;
        width: 300px;
    }

    .footerC h1 {
        font-size: 25px;
    }

    .instaIcon {
        height: 45px;
        align-items: center;
    }

    .gitIcon {
        height: 45px;
    }

    .linkdin {
        height: 45px;
    }
}

@media screen and (max-width:400px) {
    .hambur{
        height: 40px;
    }
    
    .hero{
        margin: 5em 5px;
    }
    .static-txt {
        color: #fff;
        font-size: 40px;
        font-weight: 400;
    }

    .dynamic-txts li {
        list-style: none;
        color: #a9f1df;
        font-size: 34px;
        font-weight: 500;
        position: relative;
        top: -0;
        animation: slide 14s steps(4) infinite;
    }
    @keyframes slide{
        100%{
            top:-380px
        }
    }
    
    .dynamic-txts li span{
        position: relative;
        margin: 5px 0;
        line-height: 90px;
    }
    
    .dynamic-txts li span::after{
        content: '';
        position: absolute;
        left: 0;
        height: 190%;
        width: 100%;
        background: rgba(52, 55, 157, 1);
        border-left: 2px solid #a9f1df;
        animation: typing 3.5s steps(10) infinite;
    }
    @keyframes typing{
        46%, 68%{
            left: calc(130% - 40px);
        }
        100%{
            left:0;
        }
    }
    .textos p{
        font-size: 17px;
    }
    .foto{
        height: 140px;
        width: 145px;
    }
    .titulo {
        font-size: 35px;
    }
    .habilidades{
        margin-top: 7em;
        font-size: 35px;
    }
    .container2{
        margin: 0 auto;
    }
    .skill-bars{
        max-width: 360px;
        margin: 0 auto;
       
    }
    .info span{
        font-size: 15px;
    }
    .img2:hover{
        height: 200px ;
    }
    .img1:hover{
        height: 200px;
    }
    .p1 h1{
        font-size: 25px;
    }
    .p1 h2{
        font-size: 20px;
    }
    .p2 h1{
        font-size: 25px;
    }
    .p2 h2{
        font-size: 20px;
    }
    .img2{
        margin-top: 0;
    }
   
    

    
}