*{
    margin: 0;
    padding: 0;
    transition: .5s;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    transition: .5s;
}

body{
    background-color: rgba(52, 55, 157, 1);
    /* background-color: #a9f1df; */
    width: 100%;
    /* overflow: hidden; */
    /* position: fixed; */
    /* height: 100%; */
}
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: Supply;
    src: url('/font/supply.otf');
}

@font-face {
    font-family: Circular M;
    src: url('/font/Euclid\ Circular\ A\ Medium.ttf');
}
@font-face {
    font-family: Circular R;
    src: url('/font/Euclid\ Circular\ A\ Regular.ttf');
}
@font-face {
    font-family: TypeIcons;
    src: url('../font/Type\ Icons\ Color.ttf');
}

/* menu */
.menu button{
    display: none;
}
.menu{
    width: 100%;
    height: 75px;
    /* position: fixed; */
    /* z-index: 10; */
    /* top: 0;
    right: 0; */
    background-color: rgba(52, 55, 157, 1);
    box-shadow: 0 1px 4px 0 aliceblue;

}

.menuItens{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    top: 0;
    right: 0;
}

.menuItens li{
    padding: 0 20px;
}
.menuItens li a{
    font-size: 24px;
    line-height: 20px;
    color: #ffffff;
    font-family: Supply;
    font-weight: 400;
    display: inline-block;
    position: relative;
    letter-spacing: -1px;
}


.menuItens li a::after{
    content: '';
    /* position: absolute; */
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: #a9f1df;
    transition: all 300ms ease-in-out;
 }
 .menuItens li a:hover::after{
     width: 100%;
     /* left: 20%; */
 }

 /* section */
section{
    padding-top: 70px;
}
iframe{
    width: 100%;
    height: 500px;
    border: 0;
}
 /*  */
 .container1{
    /* text-align: center;
    margin: 10em auto;
    max-width: 450px;
    height: 200px; */
    /* margin-top: 25em; */
    
 }
.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
    width: 100%;
    align-items: center;
    margin: 12em auto ;
}

.static-txt{
    color: #fff;
    font-size: 85px;
    font-weight: 400;
}
.dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 96px;
    overflow: hidden;
}

.dynamic-txts li{
    list-style: none;
    color: #a9f1df;
    font-size: 76px;
    font-weight: 500;
    position: relative;
    top: -0;
    animation: slide 14s steps(4) infinite;
}

@keyframes slide{
    100%{
        top:-380px
    }
}

.dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}

.dynamic-txts li span::after{
    content: '';
    position: absolute;
    left: 0;
    height: 120%;
    width: 100%;
    background: rgba(52, 55, 157, 1);
    border-left: 2px solid #a9f1df;
    animation: typing 3.5s steps(10) infinite;
}
@keyframes typing{
    46%, 68%{
        left: calc(130% - 40px);
    }
    100%{
        left:0;
    }
}

/* container 2 */
.foto{
    height: 210px;
    width: 210px;
    overflow: hidden;
    border-radius: 200px;
    position: relative;
    margin-top: 11px;
   
}


.titulo{
    text-align: center;
    text-shadow: 4px 4px #333;
    font-family: Supply;
    color: #a9f1df;
    font-size: 50px;
    line-height: 49px;
    font-weight: 400;
    margin-top: 20px;
}
.textos{
    color: #fff;
    max-width: 850px;
    text-align: center;
    height: 500px;
    position: relative;
    margin: 3em auto;
    
}
/* habilidades */

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

.habilidades{
    font-family: Supply;
    font-weight: 400;
    font-size: 55px;
    text-align: center;
    color: #a9f1df;
    text-shadow: 4px 4px #333;
    /* margin-bottom: 50px; */
    margin-top: 5em;
}

.skill-bars{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    display: grid;
    /* place-items: center; */
    margin: 0 auto;
    padding: 25px 30px;
    width: 900px;
    background: #fff;
    /* box-shadow: 5px 5px 20px black; */
    border-radius: 10px;
    box-shadow: 4px 4px blanchedalmond;
}
.bar{
    margin: 20px 0;
}
.bar:first-child{
    margin-top: 0px;
}
.info{
    margin-bottom: 5px;
}
.info span{
    font-weight: 500;
    font-size: 17px; opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}
.progress-line{
    height: 10px; width: 100%;
    background: #a9f1df; 
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 59, 0.8);
    animation: animate 2.5s cubic-bezier(1,0,0.5,1) forwards;
}
.progress-line span{
    height: 100%; position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #a9f1df;
    animation: animate 1.5s 1.5s cubic-bezier(1,0,0.5,1) forwards;
}
.progress-line span::before{
    position: absolute; 
    content: "";
    top: -10px; 
    right: 0;
    height: 0; 
    width: 0; 
    opacity: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #333;
    animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
    position: absolute; top: -28px;
    right: 0; font-weight: 500;
    background: #333;
    color: aliceblue; opacity: 0;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.html span{
    width: 60%;
}
.css span{
    width: 65%;
}
.java span{
    width: 10%;
}
.python span{
    width: 40%;
}
@keyframes showText2 {
    100%{
        opacity: 1;
    }
}
.html span::after{
    content: "60%";
}
.css span::after{
    content: "65%";
}
.java span::after{
    content: "10%";
}
.python span::after{
    content: "40%";
}


.txt{
    width: 100%;
    color: aliceblue;
    font-size: 25px;
    font-family: Circular R;
    padding: 50px 0;
}
.link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-curriculo{
    font-family: Supply;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #a9f1df;
    margin-top: 130px;
    text-align: center;
}
.linkPdf{
    background-image: url(/img/001-pdf.png);
    height: 64px;
    width: 64px;
    margin-top: 30px;
}
/* container 3 */
.container2{
    /* width: 100%; */
    max-width: 900px;
    height: 500px;
    margin: 9em auto;
    align-items: center;
}
.img1{
    height: 200px;
    padding-right: 10px;
    cursor: pointer;
}
.img2{
    height: 200px;
    /* padding: 30px 10px; */
    cursor: pointer;
    padding-right: 10px;
}
.img3{
    height: 200px;
    cursor: pointer;
    padding-right: 10px;
    
}
.iconHtmlCss{
    height: 30px;
    margin-top: 10px;
    opacity: 85%;
}
.img2:hover{
    height: 390px;
}
.img1:hover{
    height: 390px;
}
.img3:hover{
    height: 390px;
}
.p1 a{
    font-size: 20px;
    color: purple;
    font-family: Circular R;
    padding: 0 0 0 160px;
}

.pro{
    display: flex;
    flex-direction: row;
    align-items: center ;
    /* margin-top: 9em; */
  
}
.pro2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6em;
}
.pro3{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6em;
}
.p3 h1{
    font-size: 30px;
    color: aliceblue;
    font-family: Circular R;
    padding-left: 40px;
    font-weight: 400;
}
.p3 a{
    font-size: 25px;
    padding-left: 50px;
    font-family: Circular R;
    font-weight: 400;
}
.p3 h1{
    width: 200px;
    text-align: center;
}

.p1 h1{
    font-size: 30px;
    line-height: 35px;
    font-family: Circular M;
    font-weight: 400;
    color: #a9f1df;
    text-align: center;
    /* display: block; */
}
.p1 h2{
    color: aliceblue;
    font-size: 25px;
    line-height: 30px;
    font-family: Circular R;
    font-weight: 400;
    /* display: block; */
    width: 400px;
    text-align: center;
}
.p1 h1, h2{
    padding-left: 40px;
}
.p2 h1{
    font-size: 30px;
    line-height: 35px;
    font-family: Circular M;
    font-weight: 400;
    color: #a9f1df;
    text-align: center;
    /* display: block; */
}
.p2 h2{
    color: aliceblue;
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    font-family: Circular R;
    width: 400px;
    text-align: center;
}
.p2 h1, h2{
    padding-left: 40px;
}


/* footer */
#cont5{
    margin-top: 470px;
}
.footerC{
    /* max-width: 500px; */
    width: 100%;
    text-align: center;
    /* margin: 15em 0 3em 0; */
    margin-bottom: 100px !important;
}
.footerC h1{
    font-family: Supply;
    color: #a9f1df;
    font-size: 28px;
    font-weight: 400;
    padding: 5px 0;
}
.sub{
    text-align: center;
}
.footerC h2{
    color: aliceblue;
    font-family: Circular R;
    font-weight: 400;
    
}
.footerI h3{
    color: aliceblue;
    font-family: Circular R;
    font-weight: 400;
    font-size: 22px;

}
.footerI ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0;
}

.footerI ul li{
    display: inline;
    font-family: TypeIcons;
    font-size: 45px;
    padding: 10px 10px;
}
.footerI ul li a:hover{
    filter: invert(25%);
    /* padding: 11px; */
}
.instaIcon{
    height: 60px;
    align-items: center;
}
.instaIcon:hover{
    transform: rotate(-15deg);
}
.gitIcon:hover{
    transform: rotate(15deg);
}
.linkdin:hover{
    transform: rotate(-15deg);
}
.voltar{
    height: 40px;
    width: 40px;
    margin-top: 30px;
    color: aliceblue;
    background-color: #a9f1df;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
}
.voltar:hover{
    filter: brightness(50%);
}
.imgVoltar{
    height: 40px;
    width: 30px;
    /* align-items: center; */
}




